*{
    box-sizing: border-box;
}

body{
    background: url(../imagens/capa.png) , url(../imagens/ruido.png), 
    linear-gradient(50deg, #ff4169, #7c26f8);
    background-attachment: fixed;
}

html, body, #home{
    height: 100%;
}

/* Barra de Navegação */

.transparent{
    background-color: rgba(0, 0, 0, 0.6);
    padding: 15px 0px;
}

.navbar-dark .navbar-nav .nav-link{
    color: rgb(255, 255, 255);
    font-weight: 620;
    margin-left: 10px;
    margin-right: 10px;
}

.navbar-dark .navbar-nav .nav-link:hover{
    color: rgb(151, 151, 255);
}

.navbar-dark .navbar-toggler{
    color: white;
    border-color: white
}

.navbar-dark .navbar-toggler:hover{
    border-color: rgb(151, 151, 255); 
}

.divisor{
    width: 1px;
    background: white;
    margin: 12px 10px;
}

.last-footer a, span{
    font-size: 0.76em;
    opacity: 0.7;
}

/* Capa */ 

.capa{
    text-align: center;
}

.btn-custom{
    color: white;
    font-weight: 600;
    border-radius: 500px;
    -webkit-border-radius: 500px;
    -moz-border-radius: 500px;
    text-transform: uppercase;
    transition: background 0.4s, color 0.4s;
    padding: 10px 20px;
}

.btn-roxo{
    background: #7c25f8;
}

.btn-roxo:hover{
    background: #5a09cc;
    color: white;
}

a.btn.btn-lg.btn-custom.btn-outline-light{
    border: 2px solid white;
}

.height{
    height: 346px;
}

/* Tipografia */ 

#home h1{
    font-weight: 900;
    letter-spacing: -0.05em;
    color: white;
}

.content h1{
    color: #811df0;
    font-weight: 700;
    font-size: 3.2em;
    padding: 10px 0px;
}

.content h2{
    color: #811df0;
    font-weight: 700;
    font-size: 2.2em;
}

.content p{
    font-weight: 500;
}

.content-2 h1{
    font-weight: 700;
    font-size: 3.2em;
}

.content-2 h2{
    font-weight: 650;
    font-size: 2.2em;
}

.content-2 p{
    color: rgb(252, 230, 255);
    font-weight: 600;
    font-size: 1.2em;
}

footer h5{
    color: rgba(255, 255, 255, 0.6);
    font-size: 0.9em;
    text-indent: 10px;
    margin-bottom: 15px;
}

/* Conteudo */

.content{
    background: white;
}

.content-2{
    padding-top: 20px;
    height: 700px;
    color: white;
}

footer{
    position: relative;
    background-color: black;
    padding: 40px 0px;
}

footer li{
    margin-top: 15px;
}

footer a{
    color: white;
    font-size: 1em;
}

footer .navbar-nav a:hover{
    text-decoration: none;
    color: rgb(151, 151, 255);
}

footer ul{
    list-style: none;
}

footer ul li{
    margin: 0 10px;
}

footer ul li a{
    color: white;
}

footer ul li a:hover{
    color: rgb(151, 151, 255); 
    text-decoration: none;
}

/* IMAGENS */

.iphones{
    transform: rotateZ(30deg);
    padding-left: 80px;
    margin-right: 45px;
}

/* Media queries */

/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 534.98px) { 
    .content h1{
        font-size: 2.8em;
    }
    .content h2{
        font-size: 2em;
    }
    .content p{
        font-size: 1.1em;
    }
    a.btn.btn-lg.one-btn.btn-custom.btn-roxo{
        margin-bottom: 10px;
    } 
    li.nav-item.divisor{
        display: none;
    }
    .iphones{
        display: none;
    }
    footer .item-1, .item-2, .item-3, .item-4{
        margin-bottom: 25px;
    }.navbar-dark .navbar-nav {
        margin-top: 15px;
    }
    .navbar-dark .navbar-nav .nav-link{
        font-size: 1.2em;
    }
    .last-footer a, span{
        font-size: 0.65em;
    }
    .content-2 {
        height: 600px;
    }
    .content-2 .item-facil{
        margin-top: 40px;
    }
}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 535px) and (max-width: 767.98px) {
    #home h1{
        font-size: 3em;
    }  
    .content h1{
        font-size: 2.5em;
    }
    .content h2{
        font-size: 2em;
    }
    .content p{
        font-size: 1.1em;
    }
    li.nav-item.divisor{
        display: none;
    }
    a.btn.btn-lg.one-btn.btn-custom.btn-roxo{
        margin-bottom: 10px;
    } 
    .iphones{
        display: none;
    } 
    footer .item-1, .item-2, .item-3, .item-4{
        margin-bottom: 25px;
    } 
    .navbar-dark .navbar-nav {
        margin-top: 15px;
    }
    .navbar-dark .navbar-nav .nav-link{
        font-size: 1.2em;
    }
    .last-footer a, span{
        font-size: 0.67em;
    }
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
    #home h1{
        font-size: 4em;
    }  
    .content h1{
        font-size: 2em;
    }
    .content h2{
        font-size: 1.5em;
    }
    .content p{
        font-size: 1em;
    }
    .content-2 p{
        font-size: 1em;
    }
    .iphones{
        align-self: center;
        transform: none;
        width: 730px;
        margin-right: 0px;
    }
    .last-footer{
        margin-top: 20px;
    }
    .last-footer a, span{
        font-size: 0.7em;
    }
    .last-footer a.ml{
        margin-left: 9px;
    }
    .content-2 .item-facil{
        margin-top: 30px;
    }

}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
    #home h1{
        font-size: 5em;
    }  
    .content h1{
        font-size: 2.5em;
    }
    .content h2{
        font-size: 2em;
    }
    .content p{
        font-size: 1.1em;
    }
    .last-footer a.ml{
        margin-left: 9px;
    }
}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
    #home h1{
        font-size: 6.5em;
    }
    .last-footer{
        margin-top: 60px;
    }
    .last-footer a.ml{
        margin-left: 9px;
    }
    .content-2 .item-facil{
        margin-top: 95px;
    }
}